<%# <p id = "notice"><%= notice %>


<% if user_signed_in? %>

  <table class = "table table-striped table-bordered table-hover ">
    <thead class = "thread-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <%# <th> User ID </th> %>
        
      </tr>
    </thead>

  <tbody>
      <% @friends.each do |friend| %>
      <%#makes friends only visible to the user who created them%>
      <% if friend.user == current_user %>
        <tr>
          <td>
            <%= link_to friend.first_name + " " + friend.last_name, friend %>
          </td>
          <td><%= friend.email %> </td>
          <td><%= friend.phone %> </td>
          <td><%= friend.twitter %> </td>
          <%# <td><%= friend.user.id %> 
        </tr>
      <% end %>
     <% end %>
    </tbody>
  </table>

  <br> 

  <%= link_to "New friend", 
    new_friend_path, class: "btn btn-secondary" %>

<% else %>
  <h1>Hello World!</h1>
This is my first Rails webpage

<% end %>